#user-weight {
    padding:2em;
    color: #113654;
    font-family: "Helvetica";
}

.body{
    background-color:#add8e6;
    padding: 1em;
    border-width: 5px;
    border-style: solid;
    border-color: black;

}


#calculate-button {
    background-color: #008CBA; /* Blue */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}